# Editor metadata
*.sw[op]

# Compilation artifacts
*.py[oc]

# Bower components
bower_components
jquery*
bootstrap*
fonts

# NodeJS modules
node_modules

# Collected static content
static

# Uploaded media content
media

# local database
db.*

# Compiled translations
*.mo

# Cached files
CACHE
