# Editor metadata
*.sw[op]

# Compilation artifacts
*.py[oc]

# Bower components
bower_components
jquery*
bootstrap*
fonts

# NodeJS modules
node_modules

# Collected static content
static

# local database
db.*
