{% extends "base.html" %}
{% load staticfiles i18n %}

{% block "title" %}
    {% trans "Backoffice" %}
{% endblock "title" %}

{% block "head" %}
    {{ block.super }}
    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock "head" %}

{% block "body" %}
    {% include "backoffice/sidebar.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block "content" %}
            Put something pretty here
        {% endblock "content" %}
    </div>
{% endblock "body" %}

{% block "footer" %}
    <script src="{% static "js/common.js" %}"></script>
{% endblock "footer" %}
