{% extends "backoffice/base.html" %}
{% load i18n crispy_forms_tags %}

{% block "title-sufix" %}{% trans "Availabilities" %}{% endblock %}

{% block "content" %}
<h1 class="page-header">{% trans "Search availabilities" %}</h1>

    {% crispy form %}

    <div class="row">
        <div class="col-md-12 padded-12">
            <a type="button" class="btn btn-default btn-sm" href="{% url "backoffice_book_availability_add" %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add availability" %}
            </a>
        </div>
    </div>

    {% if availables %}
        <h2 class="sub-header">
            {% blocktrans with count=availables.count %}
                Search results <small>{{ count }} availabilities</small>
            {% endblocktrans %}
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Book" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Editorial" %}</th>
                <th>{% trans "quantity" %}</th>
                <th>{% trans "price" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for available in availables %}
                    <tr>
                        <td>{{ available.book.title }}</td>
                        <td>{{ available.book.authors.all|join:", " }}</td>
                        <td>{{ available.book.editorial }}</td>
                        <td>{{ available.quantity }}</td>
                        <td>{{ available.price }}</td>
                        <td>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_availability_edit" available.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}
                            </a>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_availability_delete" available.pk %}">
                                <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}        

{% endblock "content" %}    
