{% extends "backoffice/base.html" %}
{% load i18n crispy_forms_tags %}

{% block "title-sufix" %}{% trans "Books" %}{% endblock %}

{% block "content" %}
<h1 class="page-header">{% trans "Search books" %}</h1>
    
    {% crispy form %}

    <div class="row">
        <div class="col-md-12 padded-12">
            <a type="button" class="btn btn-default btn-sm" href="{% url "backoffice_book_book_add" %}">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add book" %}
            </a>
        </div>
    </div>

    {% if books %}
        <h2 class="sub-header">
            {% blocktrans with count=books.count %}
                Search results <small>{{ count }} book(s)</small>
            {% endblocktrans %}
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Authors" %}</th>
                <th>{% trans "Published at" %}</th>
                <th>{% trans "Editorial" %}</th>
                <th>{% trans "Availables" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.pk }}</td>
                        <td>{{ book.title }}</td>
                        <td>
                            {% for author in book.authors.all %}
                                <a href="{% url "backoffice_book_author_edit" author.pk %}">{{ author.get_full_name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ book.published_at }}</td>
                        <td>{{ book.editorial.name }}</td>
                        <td>{{ book.quantity }}</td>
                        <td>{{ book.price }}</td>
                        <td>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_book_edit" book.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}
                            </a>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_book_delete" book.pk %}">
                                <span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}        
{% endblock "content" %}    
