{% extends "backoffice/base.html" %}
{% load i18n crispy_forms_tags %}

{% block "title" %}{% trans "Books" %}{% endblock %}

{% block "content" %}
<h1 class="page-header">{% trans "Search books" %}</h1>
    
    {% crispy form %}
    
    {% if books %}
        <h2 class="sub-header">{% trans "Books" %}</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Authors" %}</th>
                <th>{% trans "ISBN" %}</th>
                <th>{% trans "Published at" %}</th>
                <th>{% trans "Editorial" %}</th>
                <th>{% trans "Added at" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.pk }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.authors }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.published_at }}</td>
                        <td>{{ book.editorial }}</td>
                        <td>{{ book.added_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}        
{% endblock "content" %}    
