{% extends "backoffice/base.html" %}
{% load i18n crispy_forms_tags %}

{% block "title-sufix" %}{% trans "Categories" %}{% endblock %}

{% block "content" %}
<h1 class="page-header">{% trans "Categories" %}</h1>

    <div class="row">
        <div class="col-md-12 padded-12">
            <a type="button" class="btn btn-default btn-sm" href="{% url "backoffice_book_category_add" %}">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add category" %}
            </a>
        </div>
    </div>
    
    {% if categories %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.pk }}</td>
                        <td>{{ category.get_full_name }}</td>
                        <td>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_book" %}?category={{ category.name|urlencode }}">
                                <span class="glyphicon glyphicon-search"></span> {% trans "Books" %}
                            </a>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_category_edit" category.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}
                            </a>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_category_delete" category.pk %}">
                                <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}        

{% endblock "content" %}    
