{% extends "backoffice/base.html" %}
{% load i18n crispy_forms_tags %}

{% block "title" %}{% trans "Authors" %}{% endblock %}

{% block "content" %}
<h1 class="page-header">{% trans "Search authors" %}</h1>

    {% crispy form %}

    <div class="row">
        <div class="col-md-12 padded-12">
            <a type="button" class="btn btn-default btn-sm" href="{% url "backoffice_book_author_add" %}">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add author" %}
            </a>
        </div>
    </div>

    {% if authors %}
        <h2 class="sub-header">
            {% blocktrans with count=authors.count %}
                Search results <small>{{ count }} author(s)</small>
            {% endblocktrans %}
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "First name" %}</th>
                <th>{% trans "Last name" %}</th>
                <th>{% trans "Books" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.pk }}</td>
                        <td>{{ author.first_name }}</td>
                        <td>{{ author.last_name }}</td>
                        <td>{{ author.book_set.all.count }}</td>
                        <td>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_book" %}?authors={{ author.last_name|urlencode }}">
                                <span class="glyphicon glyphicon-search"></span> {% trans "Books" %}
                            </a>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_author_edit" author.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}
                            </a>
                            <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_book_author_delete" author.pk %}">
                                <span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}        

{% endblock "content" %}    
