{% extends "backoffice/base_add_edit.html" %}
{% load i18n crispy_forms_tags %}

{% block "title-sufix" %}{% trans "Add a purchase" %}{% endblock %}

{% block "content" %}
    <h1 class="page-header">{% trans "New purchase" %}</h1>
    
    {% crispy form %}
    
    {% if purchase %}
        <div class="row">
            <div class="col-md-12 padded-12">
                <a type="button" class="btn btn-default btn-sm" href="{% url "backoffice_finance_item_add" purchase.pk %}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Add item" %}
                </a>
            </div>
        </div>
    {% endif %}        
        
{% endblock "content" %}    
