{% load i18n thumbnail %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans "Book" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>
                    <a href="{% url "backoffice_book_book_edit" item.book.pk %}">
                        {{ item.book.title }}
                    </a>
                </td>
                <td>{{ item.quantity }}</td>
                <td>
                    <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_finance_item_edit" purchase.pk item.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}
                    </a>
                    <a type="button" class="btn btn-default btn-xs" href="{% url "backoffice_finance_item_delete" purchase.pk item.pk %}">
                        <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
