{% extends "backoffice/base.html" %}
{% load i18n %}

{% block "title" %}{% trans "Home" %}{% endblock %}

{% block "content" %}
<h1 class="page-header">{% trans "Home" %}</h1>
    
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard_count">{{ books.count }}</div>
        <h4>{% trans "Book(s) available" %}</h4>
        <span class="text-muted">xxxxxx</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard_count">{{ authors.count }}</div>
        <h4>{% trans "Author(s)" %}</h4>
        <span class="text-muted">xxxxxx</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard_count">{{ purchases.count }}</div>
        <h4>{% trans "Purchase(s) made" %}</h4>
        <span class="text-muted">xxxxxx</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard_count">{{ sells.count }}</div>
        <h4>{% trans "Book(s) selled" %}</h4>
        <span class="text-muted">xxxxxx</span>
      </div>
    </div>
{% endblock "content" %}    
