{% load i18n %}
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
      <li {% if section == 'home' %}class="active"{% endif %}>
          <a href="{% url "backoffice_home" %}">
              <span class="glyphicon glyphicon-home"></span>
              {% trans "Home" %}
          </a>
      </li>
      <li {% if section == 'book_author' %}class="active"{% endif %}>
          <a href="{% url "backoffice_book_author" %}">
              <span class="glyphicon glyphicon-user"></span>
              {% trans "Authors" %}
          </a>
      </li>
      <li {% if section == 'book_category' %}class="active"{% endif %}>
          <a href="{% url "backoffice_book_category" %}">
              <span class="glyphicon glyphicon-th"></span>
              {% trans "Categories" %}
          </a>
      </li>
      <li {% if section == 'book_status' %}class="active"{% endif %}>
          <a href="{% url "backoffice_book_status" %}">
              <span class="glyphicon glyphicon-ok-circle"></span>
              {% trans "Statuses" %}
          </a>
      </li>
      <li {% if section == 'book_editorial' %}class="active"{% endif %}>
          <a href="{% url "backoffice_book_editorial" %}">
              <span class="glyphicon glyphicon-bookmark"></span>
              {% trans "Editorials" %}
          </a>
      </li>
      <li {% if section == 'book_book' %}class="active"{% endif %}>
          <a href="{% url "backoffice_book_book" %}">
              <span class="glyphicon glyphicon-book"></span>
              {% trans "Books" %}
          </a>
      </li>
      <li {% if section == 'book_availability' %}class="active"{% endif %}>
          <a href="{% url "backoffice_book_availability" %}">
              <span class="glyphicon glyphicon-list-alt"></span>
              {% trans "Availability" %}
          </a>
      </li>
  </ul>

  <ul class="nav nav-sidebar">
      <li {% if section == 'finance_purchase' %}class="active"{% endif %}>
        <a href="{% url "backoffice_finance_purchase" %}">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
            {% trans "Purchases" %}
        </a>
      </li>
      <li {% if section == 'finance_sell' %}class="active"{% endif %}>
        <a href="{% url "backoffice_finance_sell" %}">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
            {% trans "Sells" %}
        </a>
      </li>
  </ul>
</div>
